<div class="md-sidebar md-sidebar--indented md-sidebar--nested md-sidebar--expanded">
  <div class="md-sidebar__body">
    <div class="md-sidebar-nav">
      <div class="md-list md-list--vertical md-sidebar-nav__group md-sidebar-nav__group--primary" role="list">
        <% var listOjbects = md_list(page);
        listOjbects.forEach( function(item) { %>
          <a class="md-list-item<%= item.class_active %> md-list-item_cap md-list-item__center" role="listitem" href="<%= item.href %>"><%= item.text %></a>
        <% }); %>
      </div>
    </div>
  </div>
</div>
