<header class="md-top-bar md-top-bar--light" role="navigation">
  <div class="md-top-bar__container">
    <div class="md-top-bar__brand">
      <a class="md-brand" href="/">
        <div class="md-brand__logo">
          <img src="<%= url_for('/images/momentum/momentum-color-icon.svg') %>" alt="Momentum UI" />
        </div>
        <div class="md-brand__title">Momentum UI</div>
      </a>
    </div>
    <nav class="md-top-bar__nav ">
      <div class="md-list md-list--horizontal" role="list">
        <%- md_nav(site, page) %>
      </div>
    </nav>
    <i class="md-top-bar__mobile-menu-button icon icon-list-menu_20"></i>
    <div class="md-top-bar__mobile md-tb-mobile">
      <i class="icon icon-cancel_20"></i>
        <div class="md-top-bar__brand">
          <a class="md-brand" href="/">
            <div class="md-brand__logo">
              <img src="<%= url_for('/images/momentum/momentum-color-icon.svg') %>" alt="Momentum UI" />
            </div>
            <div class="md-brand__title">Momentum UI</div>
          </a>
        </div>
      <div class="md-list-separator"></div>
      <nav class="md-tb-mobile__nav" role="navigation">
        <%- md_nav(site, page) %>
      </nav>
    </div>
    <div class="md-tb-mobile__mask" role="none"></div>
  </div>
</header>
